@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.ant-slider .ant-slider-track {
  background: rgb(249, 148, 68);
}

.ant-slider:hover .ant-slider-track {
  background: rgb(249, 148, 68);
}

.ant-slider-handle:after {
  box-shadow: 0 0 0 2px rgb(249, 148, 68) !important;
}

.ant-select-selector {
  border-color: rgb(249, 148, 68) !important;
}

button:hover {
  color: #fff !important;
  border-color: rgb(41 41 41 / 20%) !important;
}

.ant-input {
  border-color: rgb(249, 148, 68);
}

.ant-input:forcus {
  border-color: rgb(249, 148, 68) !important;
  background: white !important;
}
